<% include partials/header %>

<h1>This is the home page</h1>
<img src="https://vignette.wikia.nocookie.net/catdog/images/9/92/Isn_catdog.gif/revision/latest?cb=20120611125556">

<% include partials/footer %>

