<h1>This is the secret page!</h1>

<p>You found the secret page</p>

<img src="https://images.unsplash.com/photo-1531410569299-927453214750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>