h1 {
  color: #ff0000;
  /* border-color: blue;
  border-width: 5px;
  border-style: solid; */
  border: 2px dashed black;
}
li {
  color: rgb(0, 255, 0);
}
h4 {
  background: rgb(255, 100, 0);
  color: rgba(11, 99, 150, 0.2);
}
body {
    background: url(background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}